@model FrontEnd.Models.ClientDetailsViewModel

@{
    ViewBag.Title = "Stats";
}

<h2>Stats for @Html.DisplayFor(model => model.tbl_clients.HostName)</h2>
<h5>Select a timespan on the graphs to "zoom in"</h5>
<br />
<fieldset>
    <legend>Charts</legend>
    <div id="ramchart">
        @Model.RAMChart
    </div>

    <div id="cpuchart">
        @Model.CPUChart
    </div>

    <div id="uptimechart">
        @Model.UptimeChart
    </div>
</fieldset>